<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>About David Bowie</title>
</head>
<body class="body-about">
    <img class="david-bowie-about" src="/images/david-bowie-about.webp" alt="david-bowie-about" width = 600>
    <p class="paragraph">
    I could ramble about one of my favourite artists all day, but it's all elaborated
       <span> <a href="https://en.wikipedia.org/wiki/David_Bowie" class="about-link" target="_blank">here</a> </span>
    </p>
<footer class="footer-about">
    <a href="/" class="go-to-home">Go to home page</a>
    <a href="/gallery" class="go-to-photo-gallery">Go to photo-gallery page</a>
</footer>
    <script src="/app.js"></script>
</body>
</html>