<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>David Bowie Photo Gallery</title>
</head>
<body class="body-gallery">
    <h1 class="albums-title">David Bowie's Albums</h1>
    <div class="allImages">
        <img class="david-bowie-2" src="/images/david-bowie-2.png" alt="david-bowie-2" width = 500>
<div class="image-gallery">
    <img class="david-bowie-first" src="/images/david-bowie-first.jpg" alt="david-bowie-first" width = 300>
	<img class="lets-dance" src="/images/lets-dance.jpg" alt="lets-dance" width = 300>
	<img class="the-man-who-sold-the-world" src="/images/the-man-who-sold-the-world.jpg" alt="david-bowie-2" width = 300>

</div>
</div>
<footer class="footer-gallery">

    <a href="/about" class="go-to-about">Go to about page</a>
    <a href="/" class="go-to-home">Go to home page</a>

</footer>
    <script src="/app.js"></script>

</body>
</html>