<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>David bowie Page</title>
</head>
<body>
    <div class="headlineAndImage">
    <h1 class="welcome">Welcome!</h1>
	<img class="david-bowie" src="/images/david-bowie.png" alt="david-bowie">
</div>
    <a href="/about">Go the about page</a>
    <a href="/gallery">Go the photo-gallery page</a>


    <script src="/app.js"></script>


</body>
</html>