<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>David bowie Page</title>
</head>
<body class="body-home">
    <div class="headlineAndImage">
    <h1 class="welcome">Welcome!</h1>
	<img class="david-bowie" src="/images/david-bowie.png" alt="david-bowie">
</div>
<footer class="footer-home">
    <a href="/about" class="go-to-about">Go to about page</a>
    <a href="/gallery" class="go-to-photo-gallery">Go to photo-gallery page</a>
</footer>
    <script src="/app.js"></script>
</body>
</html>